.app{
  margin:20px;
  padding:20px;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(red, green, blue, alpha);
}

.icon{
  display:flex;
  flex-direction: column;
}

.text{
  color:#02706B;
  font-weight: bold;
  font-size: 40px;
}

.icon_class>.MuiSvgIcon-root{
  color:#02706B;
}